<footer id="colophon" class="site-footer" style="background-color: #ffffff;">
    <div class="container">
        <div class="site-info">
            {{ site.title | upcase }} <script>document.write(new Date().getFullYear())</script>, {{ 'All Rights Reserved' | upcase }}
        </div>
        <!-- .site-info -->
        <div class="social-link">
            <a href="http://facebook.com/"></a>
            <a href="https://twitter.com/@gulshanrichlook"></a>
            <a href="http://youtube.com/"></a>
        </div>
    </div>
</footer>
<!-- #colophon -->